{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Django Tweets{% endblock %}
{% block content%}
{% if latest_tweet_list %}
{% for tweet in latest_tweet_list %}
<div class="row">
    <div class="col-xs-5">
        <h3>
            <a href="{% url 'tweet_detail' tweet.id%}">{{ tweet.tweet_text }}</a>
                <span class="small">
                    por <a href="{% url 'user_tweets' tweet.user.nick %}">{{tweet.user.nick}}</a>
            </span>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="jumbotron">
            <h1>{{ tweet.tweet_text }}</h1>
            <p>
            por <a href="{% url 'user_tweets' tweet.user.nick %}">{{ tweet.user.nick}}</a>
            el {{ tweet.pub_date }}
            </p>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<p>No hay tweets en nuestro timeline</p>
{% endif %}
{% endblock %}

